*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html body{
	background-color: #f6f4ff;
}
.fixed-top{
	background-color: rgba(252, 254, 255, 0.8);
}
#service-CardDeclaration .row .card-container{
	margin-bottom: 80px;
}
#Industry-Leading-process{
	background-image: url("images/0061.png");
}
#Industry-Leading-process .round{
	width: 90px;
	height: 90px;
	background-color: white;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.service-card{
	margin-bottom: 20px;
}
.service-card .round img{
	width: 40px;
	height: 40px;
}
.service-card .round{
	padding: 15px;
	background-color: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-card .card-body .card-title{
	margin-top: 40px;
}
.processImg .arrow{
	transform: rotate(45deg);
}
#project-card .row .card{
	font-size: 16px;
	font-weight: 500;
}
#project-card .card-body span{
	margin: 3px;
	padding: 10px;
}
.tech-img{
	width: auto;
	height: 180px;
	margin: 10px;
	padding: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tech-img img{
	max-width: 100%;
	margin-bottom: 15px;
	height: auto;
}
#techbutton .btn{
	margin: 10px;
	font-size: large;
	font-weight: 500;
}
#techbutton .active{
	color: white;
	background-color: #00537d;
}
#techbutton button:hover{
	color: white;
	background-color: #00537d;
}
#client .animation{
	margin-bottom: 100px !important;
}
.owl-stage{
	display: flex;
	align-items: center;
}
.owl-stage .owl-item .item{
	width: 200px;
}
#client .animation img{
	filter: grayscale(100%);
}
#client .animation img:hover{
	filter: grayscale(0%);
}
#client .row .gif{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
}
#client .row .round{
	display: flex;
	justify-content: center;
	align-items: center;
}
#client .row .round img{
	width: 110px;
	height: 110px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 50%;
}
#client .card-body .card-title{
	font-size: 1.5rem;
	font-weight: 500;
}
#client .card-body .card-text{
	font-size: 1.2rem;
	text-align: justify;
}
#newsletter .news{
	margin: 80px 0px;
	padding: 50px 0px;
	background-color: white;
}
#newsletter .row{
	background-image: url(img/white_banner_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@media screen and (max-width: 767px){
    #client .row .round{
    	display: block;
    	position: relative;
    	left: 20px;
    	top: 20px;
    }
}

@media screen and (max-width: 991px) {
	.processImg .mt-5{
		margin: 0px !important;
	}
	.processImg >div{
		margin: 10px !important;
	}
    .processImg >div:nth-child(even) img{
    	transform: rotate(100deg) !important;
    	margin: 20px 0;
    }
}
