*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html body{
	background-color: #f6f4ff;
}
#service-CardDeclaration .row .card-container{
	margin-bottom: 80px;
}
#Industry-Leading-process{
	background-image: url("images/0061.png");
}
#Industry-Leading-process .round{
	width: 90px;
	height: 90px;
	background-color: white;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.service-card{
	margin-bottom: 20px;
}
.service-card .round img{
	width: 40px;
	height: 40px;
}
.service-card .round{
	padding: 15px;
	background-color: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-card .card-body .card-title{
	margin-top: 40px;
}
#project-card .row .card{
/*	margin: auto;
	width: 32%;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;*/
	font-size: 16px;
	font-weight: 500;
}
#project-card .card-body span{
	margin: 3px;
	padding: 10px;
}
.tech-img{
	width: auto;
	height: 180px;
	margin: 10px;
	padding: 10px;
	background-color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#techbutton .btn{
	margin: 10px;
	font-size: large;
	font-weight: 500;
}
#techbutton .active{
	color: white;
	background-color: #00537d;
}
#techbutton button:hover{
	color: white;
	background-color: #00537d;
}
#client .animation img{
	filter: grayscale(100%);
}
#client .animation img:hover{
	filter: grayscale(0%);
}
#client .row .gif{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
}
#client .row .round{
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid black;
	border-radius: 50%;*/
}
#client .row .round img{
	width: 110px;
	height: 110px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 50%;
}
#newsletter .news{
	margin: 80px 0px;
	padding: 50px 0px;
	background-color: white;
}
#newsletter .row{
	background-image: url(img/white_banner_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
