*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#Industry-Leading-process{
	background-image: url("images/0061.png");
}
#Industry-Leading-process .round{
	width: 90px;
	height: 90px;
	background-color: lightgray;
	border-radius: 50%;
	display: flex;
    align-items: center;
    justify-content: center;
}
.service-card{
	margin-bottom: 20px;
}
.service-card .round img{
	width: 40px;
	height: 40px;
}
.service-card .round{
	padding: 15px;
	background-color: lightgray;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	top: -40px;
	left: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.service-card .card-body .card-title{
	margin-top: 40px;
}